<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zb.base.mapper.CGuimoEntityMapper">
  <resultMap id="BaseResultMap" type="com.zb.base.entity.CGuimoEntity">
    <id column="g_id" jdbcType="INTEGER" property="gId" />
    <result column="g_name" jdbcType="VARCHAR" property="gName" />
  </resultMap>
  <sql id="Base_Column_List">
    g_id, g_name
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from c_guimo
    where g_id = #{gId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from c_guimo
    where g_id = #{gId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.zb.base.entity.CGuimoEntity">
    insert into c_guimo (g_id, g_name)
    values (#{gId,jdbcType=INTEGER}, #{gName,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.zb.base.entity.CGuimoEntity">
    insert into c_guimo
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="gId != null">
        g_id,
      </if>
      <if test="gName != null">
        g_name,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="gId != null">
        #{gId,jdbcType=INTEGER},
      </if>
      <if test="gName != null">
        #{gName,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.zb.base.entity.CGuimoEntity">
    update c_guimo
    <set>
      <if test="gName != null">
        g_name = #{gName,jdbcType=VARCHAR},
      </if>
    </set>
    where g_id = #{gId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.zb.base.entity.CGuimoEntity">
    update c_guimo
    set g_name = #{gName,jdbcType=VARCHAR}
    where g_id = #{gId,jdbcType=INTEGER}
  </update>

  <select id="selectByName" parameterType="java.lang.String" resultType="java.lang.Integer">
    select
    g_id
    from c_guimo
    where g_name = #{gName,jdbcType=VARCHAR}
  </select>
</mapper>