<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zb.base.mapper.PAddressEntityMapper">
  <resultMap id="BaseResultMap" type="com.zb.base.entity.PAddressEntity">
    <result column="ap_pid" jdbcType="INTEGER" property="apPid" />
    <result column="ap_city1" jdbcType="INTEGER" property="apCity1" />
    <result column="ap_city2" jdbcType="INTEGER" property="apCity2" />
  </resultMap>
  <insert id="insert" parameterType="com.zb.base.entity.PAddressEntity">
    insert into p_address (ap_pid, ap_city1, ap_city2
      )
    values (#{apPid,jdbcType=INTEGER}, #{apCity1,jdbcType=INTEGER}, #{apCity2,jdbcType=INTEGER}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.zb.base.entity.PAddressEntity">
    insert into p_address
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="apPid != null">
        ap_pid,
      </if>
      <if test="apCity1 != null">
        ap_city1,
      </if>
      <if test="apCity2 != null">
        ap_city2,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="apPid != null">
        #{apPid,jdbcType=INTEGER},
      </if>
      <if test="apCity1 != null">
        #{apCity1,jdbcType=INTEGER},
      </if>
      <if test="apCity2 != null">
        #{apCity2,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
</mapper>